# Supabase
SUPABASE_URL=https://ckuxltpmwnwzgvequuvw.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNrdXhsdHBtd253emd2ZXF1dXZ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI4ODg2MTksImV4cCI6MjA5ODQ2NDYxOX0.8z6pKnJsVR9hWvkjonmyZDu7pditxT7ZMff3iLjC458
SUPABASE_JWT_SECRET=1RrUQR5NUlTN0fN2jT1tlewrIIWSJoMvGltWG9xZOAaD0CRGds/dU+s59ygtSiUWomG5IyZPNOkpp45LqArg9w==


DATABASE_URL=postgresql://postgres:rAMANAKUMAR123%40@db.ckuxltpmwnwzgvequuvw.supabase.co:5432/postgres

# OpenAI
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=gpt-4o
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

# Backend
ENVIRONMENT=development
LOG_LEVEL=INFO
CORS_ORIGINS=http://localhost:5173

VITE_SUPABASE_URL=https://ckuxltpmwnwzgvequuvw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNrdXhsdHBtd253emd2ZXF1dXZ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI4ODg2MTksImV4cCI6MjA5ODQ2NDYxOX0.8z6pKnJsVR9hWvkjonmyZDu7pditxT7ZMff3iLjC458
